exportPattern("^[[:alpha:]]+")
importFrom("stringr", "str_sub")
importFrom("stringr", "str_replace")
importFrom("stringr", "str_length")
importFrom("stringr", "str_split")
importFrom("stringr", "str_replace_all")
